__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
*.egg-info/
dist/
build/
.git
.gitignore
*.md
!requirements.txt
.env
.env.*
artifacts/
data/
notebooks/
*.ipynb
.DS_Store
*.log
cred.json
*.json