GCP_PROJECT_ID=
BQ_DATASET_RAW=
BQ_DATASET_CURATED=
GCP_REGION=europe-west3
LOG_LEVEL=INFO
PEGELONLINE_BASE_URL=https://www.pegelonline.wsv.de/webservices/rest-api/v2
SMARD_BASE_URL=https://smard.api.bund.dev
DWD_BASE_URL=https://opendata.dwd.de
HTTP_TIMEOUT_SECONDS=30